<a href="https://colab.research.google.com/github/John260260/Classification_problms_ML/blob/main/fetchcov_type_DCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_covtype
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics 
from sklearn.model_selection import GridSearchCV,train_test_split
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dataset =fetch_covtype(shuffle=True)

Downloading https://ndownloader.figshare.com/files/5976039

In [ ]:
df=pd.DataFrame(dataset.data)
df['target']=dataset.target

In [ ]:
df.head()

        0      1     2      3      4       5  ...   49   50   51   52   53  target
0  3094.0  250.0  12.0   42.0    4.0  1600.0  ...  0.0  0.0  0.0  0.0  0.0       1
1  3269.0  175.0  20.0  540.0  115.0  1477.0  ...  0.0  0.0  0.0  1.0  0.0       1
2  3044.0  194.0  15.0  408.0   76.0  5776.0  ...  0.0  0.0  0.0  0.0  0.0       1
3  3070.0  342.0   3.0  255.0   13.0  3438.0  ...  0.0  0.0  0.0  0.0  0.0       1
4  3272.0  345.0  24.0  644.0   -1.0   618.0  ...  0.0  0.0  0.0  0.0  0.0       2

[5 rows x 55 columns]

In [ ]:
df[1]

0         250.0
1         175.0
2         194.0
3         342.0
4         345.0
          ...
581007    205.0
581008    111.0
581009    189.0
581010     32.0
581011    132.0
Name: 1, Length: 581012, dtype: float64

In [ ]:
Counter(df['target'])

Counter({1: 211840, 2: 283301, 3: 35754, 4: 2747, 5: 9493, 6: 17367, 7: 20510})

In [ ]:
x=df.drop('target',axis=1)
y=df['target']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [ ]:
param_grids = {
    'max_depth':np.arange(2,10),
    'class_weight':[None,'balanced'],
    'ccp_alpha':[0,0.1,0.01,0.02,0.05,1,1.5,2,5,10],
    'criterion':['gini','entropy']
}

clf = GridSearchCV(DecisionTreeClassifier(),param_grid=param_grids, cv= 5,scoring='f1_macro', n_jobs=-1)
clf.fit(x_train,y_train)
y_train_predict = clf.best_estimator_.predict(x_train)
y_test_predict = clf.best_estimator_.predict(x_test)
print(metrics.classification_report(y_train,y_train_predict))
print(metrics.classification_report(y_test,y_test_predict))

              precision    recall  f1-score   support

           1       0.71      0.79      0.75    169584
           2       0.79      0.78      0.78    226489
           3       0.81      0.75      0.78     28528
           4       0.80      0.68      0.74      2196
           5       0.86      0.25      0.39      7602
           6       0.61      0.45      0.52     13893
           7       0.83      0.67      0.74     16517

    accuracy                           0.76    464809
   macro avg       0.77      0.62      0.67    464809
weighted avg       0.76      0.76      0.75    464809

              precision    recall  f1-score   support

           1       0.71      0.78      0.74     42256
           2       0.79      0.78      0.78     56812
           3       0.80      0.73      0.77      7226
           4       0.77      0.65      0.70       551
           5       0.86      0.25      0.39      1891
           6       0.60      0.44      0.50      3474
           7       0.82      0.66      0.73      3993

    accuracy                           0.75    116203
   macro avg       0.76      0.61      0.66    116203
weighted avg       0.76      0.75      0.75    116203

In [ ]:
clf.best_estimator_

DecisionTreeClassifier(ccp_alpha=0, class_weight=None, criterion='entropy',
                       max_depth=9, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')